<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}"lang="en">
<head>
    <title>Home</title>
</head>
<body>

    <div layout:fragment="content">
        <div class="jumbotron main-content">
            <h1>Welcome to my page</h1>
        </div>
        <div class="container">
            <ul>
                <li><a th:href="@{/guests}">View Guests</a></li>
            </ul>
        </div>
    </div>

</body>
</html>